#divLanding .nav-tabs .nav-link{
width: 50%!important;
text-align: center;
font-size: 24px;
color:black;
}
.tab-pane,.nav-item,.nav-link{
    background-color:#fff;
}
.center{
    text-align: center;
}
.nav-tabs .nav-link.active {
    border-bottom: 3px solid #28a745 !important;
    cursor: default;
}
.tab-pane{
    padding: 15px;
}
.tabheader{
    text-align: center;
    margin-top: 15px; 
}
.brand-type {
    height: 50px;
    width: 180px;
    display: block;
    margin: 0 auto;
}
.brand-type-title {
    margin-top: 25px;
    display: block;
    font-weight: 600;
    color:#82888b;
}
.brand-type-container li {
    display: inline-block;
    vertical-align: top;
    width: 180px;
    height: 85px;
    margin: 0 5px 30px;
    text-align: center;
    font-size: 18px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
}
.upcoming-span{
    margin-bottom: 10px;
    font-size: 14px;
    color: #a8afb3;
}
